
#quienesSomos div div .alert{
    background-color: red;
    color: white;
    display: none;
    font-weight: bolder;
    padding: .5em !important;
    position: absolute;
    right: 2em;
    top: 3em;
}
#quienesSomos div div:nth-child(2) .alert{
    top: 7.5em;
}