
footer{
    background-color: #06e5e5;
    padding-bottom: 1em !important;
    padding-top: 1em !important;
}
footer h3{
    color: white;
}
footer div a i{
    color: white;
    font-size: 1.5em;
}
footer div a{
    position: relative;
    text-decoration: none;
}

.footerToolTip{
    color: yellow !important;
    border-bottom-color: whitesmoke;
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    display: inline-block !important;
    font-weight: bolder;
    position: absolute !important;
    left: -1em !important;
    top: -2.5em !important;
 }
 #linkLinkedin div.footerToolTip{
    top: 1.1em !important;
 }
 #linkFacebook div.footerToolTip{
    top: 1.1em !important;
 }

 @media(max-width: 575px){
    .footerToolTip{
        display: none !important;
     }

 }